body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    background-image: url(https://torre.co/img/landing-background.e3fe3659.png);
    /* w3c */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

h1,
h3,
p,
input {
    color: #e7e7e7;
}

h2 {
    color: #d14f12;
}

.rate {
    color: #ddba21
}